{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <a id="username" href="{% url 'profile' %}"> {{ user.username }} </a>
    <a class="leaveButton" href="{% url 'index' %}">Leave</a>
    <div class="container">
        <div id="chat-log">
            {% for chat in chats.all %}
                {% if chat.user.id == request.user.id %}
                    <div class="message sender">
                        {{ chat.user.username }}: {{ chat.message }}
                    </div>
                {% else %}
                    <div class="message receiver">
                        {{ chat.user.username }}: {{ chat.message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
        <input class="textInput" id="chat-message-input" type="text" size="100"><br><br>
        <input class="button" id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room_name" }}
    </div>

    {{ request.user.id|json_script:"user_id" }}
    {{ request.user.username|json_script:"user_name" }}
    <script src="{% static 'room.js' %}"></script>
</body>
</html>
